In [1]:
from selenium.webdriver import Edge
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions
from selenium.common.exceptions import NoSuchElementException
from openpyxl import load_workbook
import pandas as pd 
import numpy as np

In [2]:
url='https://www.tradingview.com/markets/stocks-usa/market-movers-all-stocks/'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [56]:
'''
category='overview'
element_tab= browser.find_element(By.XPATH, f'//*[@id="{category}"]')
element_tab.click()

df = pd.read_html(browser.page_source)[1]
df
'''

'\ncategory=\'overview\'\nelement_tab= browser.find_element(By.XPATH, f\'//*[@id="{category}"]\')\nelement_tab.click()\n\ndf = pd.read_html(browser.page_source)[1]\ndf\n'

In [80]:
writer = pd.ExcelWriter('F:\\New folder\\Stocks.xlsx', engine='xlsxwriter')
categories=['overview','performance','valuation','dividends','profitability', 'incomeStatement', 
            'balanceSheet', 'cashFlow', 'oscillators','trendFollowing']
#//*[@id="oscillators"]/span
for category in categories:
    print(f'Processing Report: {category}')
    
    element_tab= browser.find_element(By.XPATH, f'//*[@id="{category}"]')
    element_tab.click()
    
    df = pd.read_html(browser.page_source)[1]
    df.to_excel(writer, sheet_name = category, index=False)

writer.save()

Processing Report: overview
Processing Report: performance
Processing Report: valuation
Processing Report: dividends
Processing Report: profitability
Processing Report: incomeStatement
Processing Report: balanceSheet
Processing Report: cashFlow
Processing Report: oscillators
Processing Report: trendFollowing

In [3]:
url='https://www.tradingview.com/markets/cryptocurrencies/prices-all/'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [45]:
category = browser.find_elements(By.XPATH,'//span[starts-with(@class,"content-mf1FlhVw")]')

categories=[]
for cat in category:
    text= cat.text
    categories.append(text)

del categories[-1]
categories

['Overview',
 'Performance',
 'Valuation',
 'Addresses',
 'Transactions',
 'Gains and Losses',
 'Sentiment',
 'Oscillators']

In [50]:
Categories = []
for category in categories:
    category = category.lower()
    Categories.append(category)
Categories[5]='gainsAndLosses'
Categories

['overview',
 'performance',
 'valuation',
 'addresses',
 'transactions',
 'gainsAndLosses',
 'sentiment',
 'oscillators']

In [55]:
#//*[@id="gainsAndLosses"]/span

writer = pd.ExcelWriter('F:\\New folder\\Cryptocurrencies.xlsx', engine='xlsxwriter')

for category in Categories:
    browser.find_element(By.XPATH,f'//*[@id="{category}"]').click()
    load_more = True
    while load_more:
            try:
                browser.find_element(By.CLASS_NAME,"loadButton-SFwfC2e0").click()
            except NoSuchElementException:
                load_more= False
    df = pd.read_html(browser.page_source)[1]
    df.to_excel(writer, sheet_name = category, index=False)
    
    
writer.save()

In [52]:
df

,Coin,Rank,Market cap,Twitter(positive),Twitter(negative),Telegram(positive),Telegram(negative),Telegram members,GitHub commits
0,BTCBitcoin,1,557.916B USD,19608,1972,603,162,—,41.27K
1,ETHEthereum,2,228.485B USD,8498,927,668,114,—,347.521K
2,USDTTether,3,82.308B USD,1572,32,448,112,—,—
3,BNBBNB,4,50.488B USD,—,—,—,—,—,—
4,USDCUSD Coin,5,30.434B USD,585,63,63,6,—,3.216K
...,...,...,...,...,...,...,...,...,...
743,TNBTime New Bank,746,1.352M USD,0,0,0,0,1.508K,46
744,NGMe-Money,747,335.925K USD,—,—,—,—,—,—
745,CLTCoinLoan,—,—,—,—,—,—,—,—
746,1ECO1eco,—,—,—,—,—,—,—,—
747,PLTCPlatonCoin,—,—,—,—,—,—,73,—