In [1]:
from selenium.webdriver import Edge
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import InvalidSelectorException, NoSuchElementException, ElementNotInteractableException 
from openpyxl import load_workbook
import pandas as pd 
import numpy as np

In [3]:
url='https://www.transfermarkt.com/statistik/saisontransfers'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [4]:
Names=[]
elements = browser.find_elements(By.XPATH,'//div[starts-with(@class,"responsive-table")]')
df = pd.read_html(browser.page_source)[1]
df

,#,Player,Age,Market value,Nat.,Joined,Fee
0,1.0,Erling Haaland Centre-Forward,21.0,€150.00m,NaN,Man City Premier League,€60.00m
1,NaN,Erling Haaland,NaN,NaN,NaN,NaN,NaN
2,NaN,Centre-Forward,NaN,NaN,NaN,NaN,NaN
3,NaN,Man City,NaN,NaN,NaN,NaN,NaN
4,NaN,Premier League,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
120,25.0,Kalvin Phillips Defensive Midfield,26.0,€50.00m,NaN,Man City Premier League,€49.00m
121,NaN,Kalvin Phillips,NaN,NaN,NaN,NaN,NaN
122,NaN,Defensive Midfield,NaN,NaN,NaN,NaN,NaN
123,NaN,Man City,NaN,NaN,NaN,NaN,NaN
124,NaN,Premier League,NaN,NaN,NaN,NaN,NaN

In [7]:
Detailed = browser.find_element(By.XPATH, '//*[text()="Detailed"]').click()

In [8]:
Names = []
Player = []
Left_Team = []
Join_team = []


names = browser.find_elements(By.XPATH,'//td[starts-with(@class,"hauptlink")]')
for i in range(len(names)):
    name = names[i].text
    if name == "":
        pass
    else:
        Names.append(name)
        
print(Names)

n = 3

data = [Names[i:i + n] for i in range(0, len(Names), 3)]

for i in range(len(data)):
    values = data[i]
    for j in range(len(values)):
        if j == 0:
            name = values[j]
            Player.append(name)
        elif j == 1:
            name = values[j]
            Left_Team.append(name)
        elif j== 2:
            name = values[j]
            Join_team.append(name)
        else:
            pass

print(Player, Left_Team, Join_team)

['Erling Haaland', 'Bor. Dortmund', 'Man City', 'Enzo Fernández', 'Benfica', 'Chelsea', 'Antony', 'Ajax', 'Man Utd', 'Wesley Fofana', 'Leicester', 'Chelsea', 'Aurélien Tchouaméni', 'Monaco', 'Real Madrid', 'Casemiro', 'Real Madrid', 'Man Utd', 'Mykhaylo Mudryk', 'Shakhtar D.', 'Chelsea', 'Alexander Isak', 'Real Sociedad', 'Newcastle', 'Matthijs de Ligt', 'Juventus', 'Bayern Munich', 'Raheem Sterling', 'Man City', 'Chelsea', 'Sadio Mané', 'Liverpool', 'Bayern Munich', 'Romelu Lukaku', 'Chelsea', 'Inter', 'João Cancelo', 'Man City', 'Bayern Munich', 'Marc Cucurella', 'Brighton', 'Chelsea', 'Federico Chiesa', 'Fiorentina', 'Juventus', 'Jules Koundé', 'Sevilla FC', 'Barcelona', 'Cody Gakpo', 'PSV Eindhoven', 'Liverpool', 'Raphinha', 'Leeds', 'Barcelona', 'Richarlison', 'Everton', 'Tottenham', 'Lisandro Martínez', 'Ajax', 'Man Utd', 'Darwin Núñez', 'Benfica', 'Liverpool', 'Fabián Ruiz', 'SSC Napoli', 'Paris SG', 'Gabriel Jesus', 'Man City', 'Arsenal', 'Cristian Romero', 'Atalanta BC', 'Tottenham', 'Kalvin Phillips', 'Leeds', 'Man City']
['Erling Haaland', 'Enzo Fernández', 'Antony', 'Wesley Fofana', 'Aurélien Tchouaméni', 'Casemiro', 'Mykhaylo Mudryk', 'Alexander Isak', 'Matthijs de Ligt', 'Raheem Sterling', 'Sadio Mané', 'Romelu Lukaku', 'João Cancelo', 'Marc Cucurella', 'Federico Chiesa', 'Jules Koundé', 'Cody Gakpo', 'Raphinha', 'Richarlison', 'Lisandro Martínez', 'Darwin Núñez', 'Fabián Ruiz', 'Gabriel Jesus', 'Cristian Romero', 'Kalvin Phillips'] ['Bor. Dortmund', 'Benfica', 'Ajax', 'Leicester', 'Monaco', 'Real Madrid', 'Shakhtar D.', 'Real Sociedad', 'Juventus', 'Man City', 'Liverpool', 'Chelsea', 'Man City', 'Brighton', 'Fiorentina', 'Sevilla FC', 'PSV Eindhoven', 'Leeds', 'Everton', 'Ajax', 'Benfica', 'SSC Napoli', 'Man City', 'Atalanta BC', 'Leeds'] ['Man City', 'Chelsea', 'Man Utd', 'Chelsea', 'Real Madrid', 'Man Utd', 'Chelsea', 'Newcastle', 'Bayern Munich', 'Chelsea', 'Bayern Munich', 'Inter', 'Bayern Munich', 'Chelsea', 'Juventus', 'Barcelona', 'Liverpool', 'Barcelona', 'Tottenham', 'Man Utd', 'Liverpool', 'Paris SG', 'Arsenal', 'Tottenham', 'Man City']

In [9]:
Ages = []
Rank= []
Age= [] 

elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"zentriert")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        Ages.append(element)

n = 3
data = [Ages[i:i + n] for i in range(0, len(Ages), 3)]

for i in range(len(data)):
    values = data[i]
    for j in range(len(values)):
        if j == 0:
            rank = values[j]
            Rank.append(rank)
        elif j == 1:
            age = values[j]
            Age.append(age)
        else:
            pass

print(Rank, Age)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25'] ['21', '22', '22', '21', '22', '30', '22', '22', '22', '27', '30', '29', '28', '24', '24', '23', '23', '25', '25', '24', '23', '26', '25', '24', '26']

In [10]:
Ages= []
Age = []
Rank= []

elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"zentriert")]')

for i in range(len(elements)):
    try:
        element = elements[i].text
        if element == "":
            pass
        else:
            Ages.append(element)
    except:
        Ages.append('NA')

n = 3
data = [Ages[i:i + n] for i in range(0, len(Ages), 3)]

for i in range(len(data)):
    values = data[i]
    for j in range(len(values)):
        if j == 0:
            rank = values[j]
            Rank.append(rank)
        elif j == 1:
            age = values[j]
            Age.append(age)
        else:
            pass

#print(Rank, Age)
print(len(Rank),len(Age))

25 25

In [11]:
Market_Values = []
Market_Value = []
Fee = []

elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"rechts")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        Market_Values.append(element)
        
for i in range(len(Market_Values)):
    
    value = Market_Values[i]
    if i == 0 or i % 2 == 0:
        Market_Value.append(value)
    else:
        Fee.append(value)
Fee

['€60.00m',
 '€121.00m',
 '€95.00m',
 '€80.40m',
 '€80.00m',
 '€70.65m',
 '€70.00m',
 '€70.00m',
 '€67.00m',
 '€56.20m',
 '€32.00m',
 'Loan fee:\n€7.80m',
 'loan transfer',
 '€65.30m',
 '€42.50m',
 '€50.00m',
 '€42.00m',
 '€58.00m',
 '€58.00m',
 '€57.37m',
 '€80.00m',
 '€23.00m',
 '€52.20m',
 '€50.00m',
 '€49.00m']

In [12]:
#Player, Left_Team, Join_team Rank, Age Market_Value

Top_TRANSFERS = pd.DataFrame()

Top_TRANSFERS['Rank']= Rank
Top_TRANSFERS['Player']= Player
Top_TRANSFERS['Age']= Age
Top_TRANSFERS['Market_Value']= Market_Value
Top_TRANSFERS['Left_Team']= Left_Team
Top_TRANSFERS['Join_team']= Join_team
Top_TRANSFERS['Fee']= Fee

In [13]:
Top_TRANSFERS

,Rank,Player,Age,Market_Value,Left_Team,Join_team,Fee
0,1,Erling Haaland,21,€150.00m,Bor. Dortmund,Man City,€60.00m
1,2,Enzo Fernández,22,€55.00m,Benfica,Chelsea,€121.00m
2,3,Antony,22,€35.00m,Ajax,Man Utd,€95.00m
3,4,Wesley Fofana,21,€40.00m,Leicester,Chelsea,€80.40m
4,5,Aurélien Tchouaméni,22,€60.00m,Monaco,Real Madrid,€80.00m
5,6,Casemiro,30,€40.00m,Real Madrid,Man Utd,€70.65m
6,7,Mykhaylo Mudryk,22,€40.00m,Shakhtar D.,Chelsea,€70.00m
7,8,Alexander Isak,22,€30.00m,Real Sociedad,Newcastle,€70.00m
8,9,Matthijs de Ligt,22,€70.00m,Juventus,Bayern Munich,€67.00m
9,10,Raheem Sterling,27,€70.00m,Man City,Chelsea,€56.20m
10,11,Sadio Mané,30,€70.00m,Liverpool,Bayern Munich,€32.00m
11,12,Romelu Lukaku,29,€70.00m,Chelsea,Inter,Loan fee:\n€7.80m
12,13,João Cancelo,28,€70.00m,Man City,Bayern Munich,loan transfer
13,14,Marc Cucurella,24,€28.00m,Brighton,Chelsea,€65.30m
14,15,Federico Chiesa,24,€65.00m,Fiorentina,Juventus,€42.50m
15,16,Jules Koundé,23,€60.00m,Sevilla FC,Barcelona,€50.00m
16,17,Cody Gakpo,23,€60.00m,PSV Eindhoven,Liverpool,€42.00m
17,18,Raphinha,25,€45.00m,Leeds,Barcelona,€58.00m
18,19,Richarlison,25,€48.00m,Everton,Tottenham,€58.00m
19,20,Lisandro Martínez,24,€32.00m,Ajax,Man Utd,€57.37m
20,21,Darwin Núñez,23,€55.00m,Benfica,Liverpool,€80.00m
21,22,Fabián Ruiz,26,€55.00m,SSC Napoli,Paris SG,€23.00m
22,23,Gabriel Jesus,25,€50.00m,Man City,Arsenal,€52.20m
23,24,Cristian Romero,24,€48.00m,Atalanta BC,Tottenham,€50.00m
24,25,Kalvin Phillips,26,€50.00m,Leeds,Man City,€49.00m

In [25]:
Names = []
Player = []
Left_Team = []
Join_team = []
Ages = []
Rank= []
Age= [] 
Market_Values = []
Market_Value = []
Fee = []

In [26]:
for i in range(5):
    names = browser.find_elements(By.XPATH,'//td[starts-with(@class,"hauptlink")]')
    for i in range(len(names)):
        try:
            name = names[i].text
            if name == "":
                pass
            else:
                Names.append(name)
        except:
            Names.append('NA')

    print(len(Names))
    n = 3

    data = [Names[i:i + n] for i in range(0, len(Names), 3)]

    for i in range(len(data)):
        values = data[i]
        for j in range(len(values)):
            if j == 0:
                name = values[j]
                Player.append(name)
            elif j == 1:
                name = values[j]
                Left_Team.append(name)
            elif j== 2:
                name = values[j]
                Join_team.append(name)
            else:
                pass
            
    elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"zentriert")]')
    
    for i in range(len(elements)):
        try:
            element = elements[i].text
            if element == "":
                pass
            else:
                Ages.append(element)
        except:
            Ages.append('NA')

    n = 3
    data = [Ages[i:i + n] for i in range(0, len(Ages), 3)]

    for i in range(len(data)):
        values = data[i]
        for j in range(len(values)):
            if j == 0:
                rank = values[j]
                Rank.append(rank)
            elif j == 1:
                age = values[j]
                Age.append(age)
            else:
                pass

    #print(Rank, Age)
    print(len(Rank),len(Age))
            
    elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"rechts")]')
    
    for i in range(len(elements)):
        try:
            element = elements[i].text
            if element == "":
                pass
            else:
                Market_Values.append(element)
        except:
            Market_Values.append('NA')

    for i in range(len(Market_Values)):

        value = Market_Values[i]
        if i == 0 or i % 2 == 0:
            Market_Value.append(value)
        else:
            Fee.append(value)
    
    N = 'tm-pagination__list-item tm-pagination__list-item--icon-next-page'
    
    try:
        Next = browser.find_element(By.XPATH, f'//li[starts-with(@class,"{N}")]').click()
    except:
        print("There is an error\n")

75
25 25
150
75 75
225
150 150
300
250 250
375
375 375

In [27]:
print(len(Rank),len(Age),len(Player))

375 375 375

In [28]:
Top_TRANSFERS = pd.DataFrame()

Top_TRANSFERS['Rank']= Rank
Top_TRANSFERS['Player']= Player
Top_TRANSFERS['Age']= Age
Top_TRANSFERS['Market_Value']= Market_Value
Top_TRANSFERS['Left_Team']= Left_Team
Top_TRANSFERS['Join_team']= Join_team
Top_TRANSFERS['Fee']= Fee

Top_TRANSFERS

,Rank,Player,Age,Market_Value,Left_Team,Join_team,Fee
0,1,Erling Haaland,21,€150.00m,Bor. Dortmund,Man City,€60.00m
1,2,Enzo Fernández,22,€55.00m,Benfica,Chelsea,€121.00m
2,3,Antony,22,€35.00m,Ajax,Man Utd,€95.00m
3,4,Wesley Fofana,21,€40.00m,Leicester,Chelsea,€80.40m
4,5,Aurélien Tchouaméni,22,€60.00m,Monaco,Real Madrid,€80.00m
...,...,...,...,...,...,...,...
370,71,Nicolò Zaniolo,23,NA,AS Roma,Galatasaray,NA
371,72,Renan Lodi,24,NA,Atlético Madrid,Nottm Forest,NA
372,73,Tanguy Ndombélé,25,NA,Tottenham,SSC Napoli,NA
373,74,Angeliño,25,NA,RB Leipzig,TSG Hoffenheim,NA
374,75,Morgan Gibbs-White,22,NA,Wolves,Nottm Forest,NA

In [29]:
df = Top_TRANSFERS.drop_duplicates()
df.to_excel('Top_TRANSFERS.xlsx')
df

,Rank,Player,Age,Market_Value,Left_Team,Join_team,Fee
0,1,Erling Haaland,21,€150.00m,Bor. Dortmund,Man City,€60.00m
1,2,Enzo Fernández,22,€55.00m,Benfica,Chelsea,€121.00m
2,3,Antony,22,€35.00m,Ajax,Man Utd,€95.00m
3,4,Wesley Fofana,21,€40.00m,Leicester,Chelsea,€80.40m
4,5,Aurélien Tchouaméni,22,€60.00m,Monaco,Real Madrid,€80.00m
...,...,...,...,...,...,...,...
370,71,Nicolò Zaniolo,23,NA,AS Roma,Galatasaray,NA
371,72,Renan Lodi,24,NA,Atlético Madrid,Nottm Forest,NA
372,73,Tanguy Ndombélé,25,NA,Tottenham,SSC Napoli,NA
373,74,Angeliño,25,NA,RB Leipzig,TSG Hoffenheim,NA
374,75,Morgan Gibbs-White,22,NA,Wolves,Nottm Forest,NA

In [30]:
#100 MOST VALUABLE TEAMS IN THE WORLD

url='https://www.transfermarkt.com/spieler-statistik/wertvollstemannschaften/marktwertetop'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [31]:
Detailed = browser.find_element(By.XPATH, '//*[text()="Detailed"]').click()
data= pd.DataFrame()

In [69]:

for i in range(4):
    elements = browser.find_elements(By.XPATH,'//div[starts-with(@class,"responsive-table")]')
    df2 = pd.read_html(browser.page_source)[1]
    
    #print(df2)
    data= data.append(df2)
    
    N = 'tm-pagination__list-item tm-pagination__list-item--icon-next-page'
    try:
        Next = browser.find_element(By.XPATH, f'//li[starts-with(@class,"{N}")]').click()
    except:
        print("There is an error\n")

data

There is an error

There is an error

There is an error

,#,Unnamed: 1,Club,Competition,Squad size,ø age,Market Value,Ø market value of players,MV Top-18 players,Share of MV
0,1,NaN,Manchester City,Premier League,25,27.5,€1.05bn,€42.19m,€996.00m,94.4 %
1,2,NaN,Chelsea FC,Premier League,33,26.1,€1.02bn,€30.81m,€825.00m,81.1 %
2,3,NaN,Bayern Munich,Bundesliga,28,26.7,€984.20m,€35.15m,€930.00m,94.5 %
3,4,NaN,Arsenal FC,Premier League,27,25.5,€935.00m,€34.63m,€819.00m,87.6 %
4,5,NaN,Paris Saint-Germain,Ligue 1,27,25.6,€882.55m,€32.69m,€844.00m,95.6 %
...,...,...,...,...,...,...,...,...,...,...
20,96,NaN,1.FC Köln,Bundesliga,34,25.3,€101.93m,€3.00m,€89.50m,87.8 %
21,97,NaN,US Salernitana 1919,Serie A,27,27.3,€99.68m,€3.69m,€88.90m,89.2 %
22,98,NaN,RC Strasbourg Alsace,Ligue 1,26,27.1,€98.55m,€3.79m,€93.70m,95.1 %
23,99,NaN,Sheffield United,Championship,26,27.3,€97.38m,€3.75m,€94.70m,97.3 %
24,100,NaN,Sport Club Corinthians Paulista,Série A,32,27.0,€96.20m,€3.01m,€84.00m,87.3 %

In [70]:
Data = data.drop_duplicates()
Data.to_excel('MOST_VALUABLE_TEAMS.xlsx')
Data

,#,Unnamed: 1,Club,Competition,Squad size,ø age,Market Value,Ø market value of players,MV Top-18 players,Share of MV
0,1,NaN,Manchester City,Premier League,25,27.5,€1.05bn,€42.19m,€996.00m,94.4 %
1,2,NaN,Chelsea FC,Premier League,33,26.1,€1.02bn,€30.81m,€825.00m,81.1 %
2,3,NaN,Bayern Munich,Bundesliga,28,26.7,€984.20m,€35.15m,€930.00m,94.5 %
3,4,NaN,Arsenal FC,Premier League,27,25.5,€935.00m,€34.63m,€819.00m,87.6 %
4,5,NaN,Paris Saint-Germain,Ligue 1,27,25.6,€882.55m,€32.69m,€844.00m,95.6 %
...,...,...,...,...,...,...,...,...,...,...
20,96,NaN,1.FC Köln,Bundesliga,34,25.3,€101.93m,€3.00m,€89.50m,87.8 %
21,97,NaN,US Salernitana 1919,Serie A,27,27.3,€99.68m,€3.69m,€88.90m,89.2 %
22,98,NaN,RC Strasbourg Alsace,Ligue 1,26,27.1,€98.55m,€3.79m,€93.70m,95.1 %
23,99,NaN,Sheffield United,Championship,26,27.3,€97.38m,€3.75m,€94.70m,97.3 %
24,100,NaN,Sport Club Corinthians Paulista,Série A,32,27.0,€96.20m,€3.01m,€84.00m,87.3 %

In [2]:
#100 MOST VALUABLE Player IN THE WORLD

url='https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [3]:
Detailed = browser.find_element(By.XPATH, '//*[text()="Detailed"]').click()

In [40]:
names = []
Names = []
Positions = []

elements = browser.find_elements(By.XPATH,'//table[starts-with(@class,"inline-table")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        names.append(element)

for i in range(len(names)):
    value = names[i]
    name = value.split('\n')
    for i in range(len(name)):
        if i == 0:
            Names.append(name[i])
        elif i == 1:
            Positions.append(name[i])
    
print(Names, "\n\n", Positions)

['Kylian Mbappé', 'Erling Haaland', 'Jude Bellingham', 'Vinicius Junior', 'Jamal Musiala', 'Bukayo Saka', 'Phil Foden', 'Pedri', 'Victor Osimhen', 'Federico Valverde', 'Gavi', 'Aurélien Tchouaméni', 'Harry Kane', 'Enzo Fernández', 'Florian Wirtz', 'Khvicha Kvaratskhelia', 'Rodrygo', 'Lautaro Martínez', 'Declan Rice', 'Rodri', 'Rafael Leão', 'Christopher Nkunku', 'Martin Ødegaard', 'Marcus Rashford', 'Bernardo Silva']

 ['Centre-Forward', 'Centre-Forward', 'Central Midfield', 'Left Winger', 'Attacking Midfield', 'Right Winger', 'Left Winger', 'Central Midfield', 'Centre-Forward', 'Central Midfield', 'Central Midfield', 'Defensive Midfield', 'Centre-Forward', 'Defensive Midfield', 'Attacking Midfield', 'Left Winger', 'Right Winger', 'Centre-Forward', 'Defensive Midfield', 'Defensive Midfield', 'Left Winger', 'Second Striker', 'Attacking Midfield', 'Left Winger', 'Attacking Midfield']

In [42]:
ages= []

elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"zentriert")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        ages.append(element)
len(ages)

275

In [43]:
Rank= []
Age= []
Matchs= []
Goals= []
Assists= []
Yellow_Cards= []
Red_Cards =[]
Substitutions_On = []
Substitutions_Offs= []

n = 11
data = [ages[i:i + n] for i in range(0, len(ages), n)]

for i in range(len(data)):
    values = data[i]
    for j in range(len(values)):
        
        value = values[j]
        if j == 0:
            Rank.append(value)
        elif j == 1:
            Age.append(value)
        elif j == 2:
            Matchs.append(value)
        elif j == 3:
            Goals.append(value)
        elif j == 5:
            Assists.append(value)
        elif j == 6:
            Yellow_Cards.append(value)
        elif j == 8:
            Red_Cards.append(value)
        elif j == 9:
            Substitutions_On.append(value)
        elif j == 10:
            Substitutions_Offs.append(value)
        else:
            pass

In [44]:
data= pd.DataFrame()

data['Rank']= Rank
data['Name']= Names
data['Position']= Positions
data['Age']= Age
data['Matchs']= Matchs
data['Goals']= Goals
data['Assists']= Assists
data['Yellow_Cards']= Yellow_Cards
data['Red_Cards']= Red_Cards
data['Substitutions_On']= Substitutions_On
data['Substitutions_Offs']= Substitutions_Offs

data

,Rank,Name,Position,Age,Matchs,Goals,Assists,Yellow_Cards,Red_Cards,Substitutions_On,Substitutions_Offs
0,1,Kylian Mbappé,Centre-Forward,24,49,44,11,5,0,4,10
1,2,Erling Haaland,Centre-Forward,22,57,58,10,5,0,3,25
2,3,Jude Bellingham,Central Midfield,19,49,14,8,11,0,4,6
3,4,Vinicius Junior,Left Winger,22,57,23,21,16,1,3,18
4,5,Jamal Musiala,Attacking Midfield,20,53,16,17,2,0,14,31
5,6,Bukayo Saka,Right Winger,21,56,16,13,7,0,9,22
6,7,Phil Foden,Left Winger,23,50,15,8,3,0,19,16
7,8,Pedri,Central Midfield,20,37,7,1,3,0,5,16
8,9,Victor Osimhen,Centre-Forward,24,38,30,5,5,0,4,20
9,10,Federico Valverde,Central Midfield,24,60,13,8,6,0,6,17
10,11,Gavi,Central Midfield,18,57,5,7,15,0,11,26
11,12,Aurélien Tchouaméni,Defensive Midfield,23,57,0,5,4,0,18,19
12,13,Harry Kane,Centre-Forward,29,57,36,5,7,0,2,5
13,14,Enzo Fernández,Defensive Midfield,22,56,5,9,11,0,3,18
14,15,Florian Wirtz,Attacking Midfield,20,25,4,8,6,0,6,9
15,16,Khvicha Kvaratskhelia,Left Winger,22,49,19,20,1,0,4,34
16,17,Rodrygo,Right Winger,22,59,19,11,4,0,18,25
17,18,Lautaro Martínez,Centre-Forward,25,59,29,12,8,0,13,21
18,19,Declan Rice,Defensive Midfield,24,56,6,4,6,0,4,4
19,20,Rodri,Defensive Midfield,26,60,3,8,9,0,5,17
20,21,Rafael Leão,Left Winger,23,55,15,17,6,0,13,24
21,22,Christopher Nkunku,Second Striker,25,41,22,10,6,0,11,8
22,23,Martin Ødegaard,Attacking Midfield,24,55,15,9,7,0,6,27
23,24,Marcus Rashford,Left Winger,25,55,30,11,2,0,10,22
24,25,Bernardo Silva,Attacking Midfield,28,62,9,12,11,0,19,18

In [89]:
Main_Data= pd.DataFrame()

In [94]:
names = []
Names = []
Positions = []
    
elements = browser.find_elements(By.XPATH,'//table[starts-with(@class,"inline-table")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        names.append(element)

for i in range(len(names)):
    value = names[i]
    name = value.split('\n')
    for i in range(len(name)):
        if i == 0:
            Names.append(name[i])
        elif i == 1:
            Positions.append(name[i])

print(Names, "\n\n", Positions)

ages= []

elements = browser.find_elements(By.XPATH,'//td[starts-with(@class,"zentriert")]')

for i in range(len(elements)):
    element = elements[i].text
    if element == "":
        pass
    else:
        ages.append(element)
len(ages)

Rank= []
Age= []
Matchs= []
Goals= []
Assists= []
Yellow_Cards= []
Red_Cards =[]
Substitutions_On = []
Substitutions_Offs= []

n = 11
data = [ages[i:i + n] for i in range(0, len(ages), n)]

for i in range(len(data)):
    values = data[i]
    for j in range(len(values)):
        value = values[j]
        if j == 0:
            Rank.append(value)
        elif j == 1:
            Age.append(value)
        elif j == 2:
            Matchs.append(value)
        elif j == 3:
            Goals.append(value)
        elif j == 5:
            Assists.append(value)
        elif j == 6:
            Yellow_Cards.append(value)
        elif j == 8:
            Red_Cards.append(value)
        elif j == 9:
            Substitutions_On.append(value)
        elif j == 10:
            Substitutions_Offs.append(value)
        else:
            pass
N = 'tm-pagination__list-item tm-pagination__list-item--icon-next-page'
try:
    Next = browser.find_element(By.XPATH, f'//li[starts-with(@class,"{N}")]').click()
    #browser.refresh()
except:
    print("There is an error\n")
    
data1= pd.DataFrame()

data1['Rank']= Rank
data1['Name']= Names
data1['Position']= Positions
data1['Age']= Age
data1['Matchs']= Matchs
data1['Goals']= Goals
data1['Assists']= Assists
data1['Yellow_Cards']= Yellow_Cards
data1['Red_Cards']= Red_Cards
data1['Substitutions_On']= Substitutions_On
data1['Substitutions_Offs']= Substitutions_Offs

Main_Data = Main_Data.append(data1)
data1

['Dejan Kulusevski', 'Jadon Sancho', 'Richarlison', 'Diogo Jota', 'Alessandro Bastoni', 'James Maddison', 'Serge Gnabry', 'Julián Álvarez', 'Min-jae Kim', 'Lisandro Martínez', 'João Félix', 'Gabriel Magalhães', 'Raphinha', 'Sandro Tonali', 'Moussa Diaby', 'Mikel Oyarzabal', 'Alexander Isak', 'Federico Chiesa', 'Mikel Merino', 'Ben White', 'Gianluigi Donnarumma', 'Lucas Hernández', 'Ivan Toney', 'Marco Verratti', 'David Alaba']

 ['Right Winger', 'Left Winger', 'Centre-Forward', 'Left Winger', 'Centre-Back', 'Attacking Midfield', 'Right Winger', 'Centre-Forward', 'Centre-Back', 'Centre-Back', 'Second Striker', 'Centre-Back', 'Right Winger', 'Defensive Midfield', 'Right Winger', 'Left Winger', 'Centre-Forward', 'Left Winger', 'Central Midfield', 'Right-Back', 'Goalkeeper', 'Centre-Back', 'Centre-Forward', 'Central Midfield', 'Centre-Back']

,Rank,Name,Position,Age,Matchs,Goals,Assists,Yellow_Cards,Red_Cards,Substitutions_On,Substitutions_Offs
0,76,Dejan Kulusevski,Right Winger,23,44,3,11,8,0,11,23
1,77,Jadon Sancho,Left Winger,23,40,7,3,0,0,12,22
2,78,Richarlison,Centre-Forward,26,37,6,5,4,0,18,16
3,79,Diogo Jota,Left Winger,26,34,8,10,2,0,16,16
4,80,Alessandro Bastoni,Centre-Back,24,49,1,6,7,0,4,18
5,81,James Maddison,Attacking Midfield,26,33,10,9,11,0,3,9
6,82,Serge Gnabry,Right Winger,27,52,17,14,0,0,22,17
7,83,Julián Álvarez,Centre-Forward,23,53,19,5,1,0,27,8
8,84,Min-jae Kim,Centre-Back,26,49,2,2,9,0,1,6
9,85,Lisandro Martínez,Centre-Back,25,49,1,0,11,0,9,8
10,86,João Félix,Second Striker,23,44,10,3,7,1,16,20
11,87,Gabriel Magalhães,Centre-Back,25,48,3,0,6,0,3,2
12,88,Raphinha,Right Winger,26,51,12,14,9,0,15,34
13,89,Sandro Tonali,Defensive Midfield,23,53,2,11,13,0,6,12
14,90,Moussa Diaby,Right Winger,23,53,14,11,7,0,4,27
15,91,Mikel Oyarzabal,Left Winger,26,29,4,1,2,0,11,14
16,92,Alexander Isak,Centre-Forward,23,34,11,3,4,0,9,19
17,93,Federico Chiesa,Left Winger,25,34,3,6,5,0,24,7
18,94,Mikel Merino,Central Midfield,26,44,3,9,6,1,5,16
19,95,Ben White,Right-Back,25,46,2,5,5,0,7,17
20,96,Gianluigi Donnarumma,Goalkeeper,24,56,0,0,3,0,0,0
21,97,Lucas Hernández,Centre-Back,27,12,1,1,2,0,1,5
22,98,Ivan Toney,Centre-Forward,27,36,21,5,9,0,2,4
23,99,Marco Verratti,Central Midfield,30,41,0,1,15,1,3,19
24,100,David Alaba,Centre-Back,30,46,3,3,4,0,6,11

In [95]:
Main_Data

,Rank,Name,Position,Age,Matchs,Goals,Assists,Yellow_Cards,Red_Cards,Substitutions_On,Substitutions_Offs
0,1,Kylian Mbappé,Centre-Forward,24,49,44,11,5,0,4,10
1,2,Erling Haaland,Centre-Forward,22,57,58,10,5,0,3,25
2,3,Jude Bellingham,Central Midfield,19,49,14,8,11,0,4,6
3,4,Vinicius Junior,Left Winger,22,57,23,21,16,1,3,18
4,5,Jamal Musiala,Attacking Midfield,20,53,16,17,2,0,14,31
...,...,...,...,...,...,...,...,...,...,...,...
20,96,Gianluigi Donnarumma,Goalkeeper,24,56,0,0,3,0,0,0
21,97,Lucas Hernández,Centre-Back,27,12,1,1,2,0,1,5
22,98,Ivan Toney,Centre-Forward,27,36,21,5,9,0,2,4
23,99,Marco Verratti,Central Midfield,30,41,0,1,15,1,3,19
24,100,David Alaba,Centre-Back,30,46,3,3,4,0,6,11

In [97]:
Main_Data.to_excel('Most Valuable Players.xlsx')